<!-- app/views/places/new.html.erb -->

<h1>New Place</h1>

<%= form_with(model: @place) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Create Place" %>
  </div>
<% end %>

<%= link_to "Back to All Places", root_path %>